@media only screen 
  and (min-device-width: 320px) 
  
  
{

	body{
		
		
		background:url(dark-grunge-texture.jpg);
		
		
		
	}
	.main_main {
		
		 margin-top:60vw;
		background-color: white;
		width:300vw;
		position:absolute;
		left:0px;
		font-family: 'Comfortaa', cursive;
		text-align: center;
		margin-bottom:100vw;
		margin-top: 50vh;
		
		
		
	}
	.yes {
		
		width:270vw;
		
		
		
		
	}
	.header_main {
		
		background-color:white;
		margin-bottom:90vw;
		width:100vw;
		height: 15vw;
		
		
	}
	.cry {
		
		width:270vw;
		
		
	}
	footer {
		
		background-color: white;
		width:300vw;
		position: absolute;
		top:350vh;
		left:0px;
		font-family: 'M PLUS Rounded 1c', sans-serif;
		margin-top:200vh;
		
	}
	.header_main {
		
		width:300vw;
		height: 15vw;
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		overflow: hidden;
		
		
		
		
	}
	.nav {
		
		background-color: white;
		padding:10px 10px;
		font-family: 'Comfortaa', cursive;
		text-decoration: none;
		color:black;
		
		
		
		
		
	}
	#a1 {
		
		position: absolute;
		top:15vw;
		
		
	}
	#a2 {
		
		position:absolute;
		top:24vw;
		
		
	}
	#a3 {
		
		position:absolute;
		top:33vw;
		
		
	}
	.header_main:hover {
		
		height:49vw;
		margin-bottom:50vw;
		transition:2s;
		
		
		
	}
	.mem {
		
		margin-bottom:10vw;
		
		
	}
	.mem02 {
		
		margin-bottom:50vw;
		
	}
	.mem10 {
		
		margin-bottom:50vw;
		
		
	}
	.mem21 {
		
		margin-bottom: 50vw;
		
	}
	
	
}
@media (min-width: 1200px) {

	
	
.nav:hover {
	
	background-color: darkgrey;
	transition:1s;
	
	
	
}
.nav {
	
	position: absolute;
	padding:15px 15px;
	border-radius: 10%;
	background-color:gray;
	font-family: 'Comfortaa', cursive;
	color:black;
	text-decoration: none;
	
	
	
}
#a1 {
	
	top:59px;
	left:25vw;
	

	
	
	
	
	
}
#a2 {
	
		top:59px;
		left:47vw;
	
	
	
}
#a3 {
	
	top:59px;
	left:70vw;
	
	
	
}

.header_main {
	
	background-color: white;
	width:100vw;
	height: 8vw;
	position:absolute; 
	top:-25px;
	left:0px;
	right:0px;
	border-radius:10%;
	
	
}
	
	

.main_main {
	
	background-color: white;
	width:100vh;
	position:absolute;
	left:450px;
	height:299vh;
	border-radius: 5%;
	margin-top: 35vh;
	margin-bottom:50vh;
	z-index: 2;
	text-align: center;
	display:flex;
	
	
	
	
}
footer {
	
	background-color: white;
	position: absolute;
	top:529vh;
	bottom:0px;
	left:0px;
	width:200vh;
	height:25vh;
	z-index: 2;
	
}
body {
	background:url(dark-grunge-texture.jpg);
	padding-top:50vh;
	padding-bottom: 500vh;
	padding-right:0vh;
	z-index: 1;
	background-size:cover;
	
	vertical-align:center;
	
	
	
}
h3 {
	
	margin-left:5vw;
	
}
.hrefA {
	
	text-decoration: none;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-left:8vw;
	color:grey;
	
}

h1 {
	height: 15vh;
	width:40vw;
	font-family: 'Amatic SC', cursive;
	position:absolute;
	left:10vh;
	top:5vw;
	
}


#mem1 {
	
	position: absolute;
	height: 5vh;
	width:30vw;
	left:20vh;
	font-family: 'Comfortaa', cursive;
	top:35vh;
	
}
.yes {
	
	width:700px;
	position:absolute;
	top:22vw;
	left:7vw;
	
}
#yes {
	position:absolute;
	top:5vw;
	left:2vw;
	
}
.mem01 {
	
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top:43vw;
	left:7vw;
	
	
}
.mem02 {
	
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top:45vw;
	left:7vw;
	
	
}
h2 {
		
		
	font-family: 'Comfortaa', cursive;
		
	
}
#mem2 {
		
	position:absolute;
	font-family: 'Comfortaa', cursive;
	top:110vh;
	left:17vw;
	
		
		
	}
.cat {
	
	width:600px;
	top:120vh;
	position:absolute;
	left:10vw;
	
	
}
.mem21 {
	
	font-family: 'Comfortaa', cursive;
	position:absolute;
	top:190vh;
	left:10vw;



}
#mem3 {
	
	position: absolute;
	top:210vh;
	left:24vw;
	
}
.cry {
	
	width: 700px;
	top:220vh;
	left:8vw;
	position: absolute;
	
	
	
	
}
.mem31 {
	
	font-family: 'Comfortaa', cursive;
	position:absolute;
	top:275vh;
	left:8vw;
	
	
	
	
}
	.mem {
		
		font-family: 'Comfortaa', cursive;
		
		
		
	}
}
