
	

.main_main {
	
	background-color: white;
	width:100vh;
	position:absolute;
	left:450px;
	height:150vh;
	border-radius: 5%;
	margin-top: 35vh;
	margin-bottom:50vh;
	z-index: 2;
	text-align: center;
	
}
footer {
	
	background-color: white;
	position: absolute;
	top:350vh;
	bottom:0px;
	left:0px;
	width:200vh;
	height:25vh;
	z-index: 2;
	
}
body {
	background:url(dark-grunge-texture.jpg);
	padding-top:50vh;
	padding-bottom: 300vh;
	z-index: 1;
	background-size:cover;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	
}
h3 {
	
	margin-left:5vw;
	
}
.hrefA {
	
	text-decoration: none;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-left:8vw;
	color:grey;
	
}

h1 {
	height: 15vh;
	width:40vw;
	font-family: 'Amatic SC', cursive;
	position:absolute;
	left:10vh;
	top:5vw;
	
}


#mem1 {
	
	position: absolute;
	height: 5vh;
	width:30vw;
	left:20vh;
	font-family: 'Comfortaa', cursive;
	top:35vh;
	
}
.yes {
	
	width:700px;
	position:absolute;
	top:22vw;
	left:7vw;
	
}
#yes {
	position:absolute;
	top:5vw;
	left:2vw;
	
}
.mem01 {
	
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top:43vw;
	left:7vw;
	
	
}
.mem02 {
	
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top:45vw;
	left:7vw;
	
	
}
		
}
@media (max-width: 1600px)	{	
	.header_main {
		height:15vh;
		width:105vw;
		position:absolute;
		top:-15px;
		left:-50px;
		display:block;
		background-color: white;
		border-radius: 20%;
	}
	

.main_main {
	
	background-color: white;
	width:100vh;
	position:absolute;
	left:450px;
	height:150vh;
	border-radius: 5%;
	margin-top: 35vh;
	margin-bottom:50vh;
	z-index: 2;
	text-align: center;
	
}
footer {
	
	background-color: white;
	position: absolute;
	top:350vh;
	bottom:0px;
	left:0px;
	width:200vh;
	height:25vh;
	z-index: 2;
	
}
body {
	background:url(dark-grunge-texture.jpg);
	padding-top:50vh;
	padding-bottom: 300vh;
	z-index: 1;
	background-size:cover;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	
}
h3 {
	
	margin-left:5vw;
	
}
.hrefA {
	
	text-decoration: none;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin-left:8vw;
	color:grey;
	
}

h1 {
	height: 15vh;
	width:40vw;
	font-family: 'Amatic SC', cursive;
	position:absolute;
	left:10vh;
	top:5vw;
	
}


#mem1 {
	
	position: absolute;
	height: 5vh;
	width:30vw;
	left:20vh;
	font-family: 'Comfortaa', cursive;
	top:35vh;
	
}
.yes {
	
	width:700px;
	position:absolute;
	top:22vw;
	left:7vw;
	
}
#yes {
	position:absolute;
	top:5vw;
	left:2vw;
	
}
.mem01 {
	
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top:43vw;
	left:7vw;
	
	
}
.mem02 {
	
	font-family: 'Comfortaa', cursive;
	position: absolute;
	top:45vw;
	left:7vw;
	
	
}
h2 {
		
		
	font-family: 'Comfortaa', cursive;
		
	
}
#mem2 {
		
	position:;
	font-family: 'Comfortaa', cursive;
	top:20px;
	left:20vw;
	
		
		
	}